CREATE TABLE blocked_users (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    youtube_channel_id TEXT NOT NULL,
    username TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(user_id, youtube_channel_id)
);

ALTER TABLE blocked_users ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
manage
their
own
blocked
users\ 
ON blocked_users FOR ALL 
USING (auth.uid() = user_id);
